{% extends "base.html" %}
<!--prettier-ignore-->
{% block title %}Login{% endblock %}
{% block content %}
<div class="form-page -container">
  <form method="post" class="form-window" action="{% url 'login' %}">
    {% csrf_token %}
    <header>
      <h2>Login</h2>
    </header>

    <div style="width: 60%">
      <label class="section-label">Username</label>
      <input name="username" style="width: 100%" />
    </div>
    <div style="width: 60%">
      <label class="section-label">Password</label>
      <input name="password" type="password" style="width: 100%" />
    </div>

    <button type="submit">Login</button>
  </form>
</div>
{% endblock %}
