@import "vars.css";

.page_item-details {
  display: flex;
  width: 900px;
  margin: 2rem auto;
  align-items: flex-start;
}

.page_item-details .custom-padding {
  padding: 1rem 1.5rem;
}

.page_item-details .column-flex-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* potentially common styles FROM HERE */

.declaring-section-header {
  padding: 0.3rem 1.5rem;
  background-color: var(--col-bg-dark-grey);
}

.declaring-section-header h5 {
  color: var(--col-white-text);
}

.section-label {
  display: block;
  margin-bottom: 0.5rem;
}
